/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clean{
    clear: both;
}
.text-white{
    color: white !important;
    
}

html {
    font-family: Helvetica, sans-serif;
}
#main{
    
}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;
}
.nav-arrow-down{
    font-size: 13px;
}
#nav li a {
   text-decoration: none;
   color: white;
   line-height: 46px;
   padding: 0 24px;
    display: inline-block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
   color: black;
   background-color: #ccc;
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav{
    position: absolute;
    top: 100%;
    background-color: white;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 160px;
}
#nav .subnav li {
    width: 100%;
}
#nav .subnav a{
    color: black;
    width: 100%;
    line-height: 38px;
    padding: 0 16px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
}
#header .search-btn:hover{
    background-color: rgb(206, 5, 5);
    cursor: pointer;
}
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider2.jpg) top center / cover no-repeat; 
    position: relative;
}
.text-content{
    position: absolute;
    color:white;
    bottom: 47px;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
    width: 100%;
    
}
.text-heading{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 22px;
}
.text-description{
    font-size: 15px;
    font-weight: 600;
}

#content{
   
}
#content .content-section{
    width: 800px;
    padding: 64px 0;
    margin: 0 auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    opacity: 0.8;
}
#content .about-text{
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list{
    margin-top: 48px;
    
}
#content .member-item{
    float: left;
    width: calc(100% / 3);
    text-align: center;

}
#content .member-name{
    font-size: 15px;

}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
/* tour section */
.tour-section{
    background-color: #000;
}

.tickets-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;

}
.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ccc;
    color: #757575;
}
.sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 20px;
}
.quantity{
    background-color: #000;
    color: #fff;
    padding: 5px 9.5px;
    border-radius: 50%;
    float: right;
    margin-top: -4px;
}

.place-list{   
    margin: 32px 0;

}

.place-item{
    background-color: #fff;
    width: 33.3333%;
}

.place-img{
    width: 100%;
}

.place-body{
    padding: 16px;
}

.place-heading{
    margin: 15px 0;
    font-size: 15px;
}

.place-time{
    margin: 15px 0;
    font-size: 15px;
    opacity: 0.8;
}

.place-desc{
    margin: 15px 0;
    font-size: 15px;
}

.place-buy-btn{
    text-decoration: none;
    background-color: #000;
    font-size: 15px;
    padding: 8px 16px;
    display: inline-block;
}
#footer{
    
}
